<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-tw" xml:lang="zh-tw">
  <head>
    <title>{{ page.title }} - Learn You a Haskell for Great Good!</title>
    <base href="{{ site.base_url }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
    <link rel="index" href="/">
    {% if page.prev %}<link rel="prev" href="{{ page.prev.url }}">{% endif %}
    {% if page.next %}<link rel="next" href="{{ page.next.url }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    {% for style in page.styles %}
    <link rel="stylesheet" type="text/css" href="{{ style }}" />
    {% endfor %}
  </head>
  <body{% if page.class %} class="{{ page.class }}"{% endif %}>
    <div id="content">
      {{ content }}
    </div>
    {% for script in page.scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    {% if page.inner_script %}
    <script type="text/javascript">{{ page.inner_script }}</script>
    {% endif %}
  </body>
</html>
